<div id="tab-about-layout">
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <center>
                            <img src='../icons/logo.gif' />
                            <div>
                                <a href='javascript: window.open({{ self.referredLink }})'><h2 style="text-shadow: 0px 0px 10px #fff;"><strong>LTCRABBIT</strong></h2></a>
                                <p>Version {{ self.common.manifest.meta.version }}</p>
                            </div>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class='txt-about'>
                            <p>This application is meant to monitor your
                                <a href='javascript: window.open({{ self.referredLink }})'>LTCRabbit</a>mining pool workers using public API.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <div style="font-size: 0.9em">
                            <p>Contacts:&nbsp;
                                <span class="btn-group" id="Donations">
                                    <span>
                                        <a style="text-shadow: 0px 0px 10px #555;" href='javascript: window.open("https://github.com/TigerND/ltcrabbit-overwolf/issues")'>Issues Tracker</a>
                                    </span>&nbsp;</span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <div style="font-size: 0.8em">Support the project:&nbsp;
                            <span class="btn-group" id="Donations">
                                <span>
                                    <a style="text-shadow: 0px 0px 10px #555;" href='javascript: window.open("https://in.xapo.com/ref/?c=8RS5MW2")'>XAPO</a>
                                </span>&nbsp;
                                <span>
                                    <a style="text-shadow: 0px 0px 10px #555;" href='javascript: window.open("https://blockr.io/address/info/149jb88A368BiRDA9swufA8nxN87J5Hstv")'>Bitcoin</a>
                                </span>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
