<div id="onde-settings" style="margin:2px;">
    <form id="onde-settings-form" class="navbar-form navbar-left" method="post">
        <div class="form-group">
            <div class="onde-panel"></div>
            <p>
                <div class="form-actions">
                    <button type="submit" name="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" name="cancel" class="btn" onclick="app.common.closeWindow();">Cancel</button>
                </div>
            </p>
        </div>
    </form>
</div>
