
.player-button {
	vertical-align: middle;
}

.player-button-enabled {
	color: #eee;
}

.player-button-disabled {
	color: #ccc;
}

.player-button-hidden {
	display: none;
}

.black-panel {
	/* background-color: #0d0d0d; */
	background-image: url("images/background.png");
	background: linear-gradient(top, #1a1a1a, black);
	color: #fff;	
	width: 100%;	
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	margin: 3px;
	padding: 3px;
}

#TopMenu a:hover,
#TopMenu activated a {
	color: #fff;
    text-shadow: 0 0 10px #fff;
}

#TopMenu {
	vertical-align: middle;
	white-space: nowrap;
}

.top-menu-column {
	float: left;
}

#top-menu-sc-player-buttons {
	vertical-align: middle;
	margin-top: -1px;	
}

#top-menu-sc-track-name {
	width: 100%;
}

#top-menu-sc-tool-buttons {
	float: right;
}

#sc-widget {
	display: none;
}
