<div id="TopMenu" class="black-panel">
    <table style="width: 100%;">
        <tr>
            <td>
                <div id="top-menu-sc-icon" class="top-menu-column">
                    <img src="../icons/sc_orange_white_32.png" width="12" height="12"></img>
                    &nbsp;
                </div>
            </td>
            <td>
                <div id="top-menu-sc-player-buttons" class="btn-group top-menu-column">
                    <a id='step-backward-button' class="player-button player-button-enabled" href="#" onclick="app.prev()"><i class="fa fa-step-backward fa-fw"></i></a>
                    <a id='play-button' class="player-button player-button-enabled" href="#" onclick="app.play()"><i class="fa fa-play fa-fw"></i></a>
                    <a id='pause-button' class="player-button player-button-hidden" href="#" onclick="app.pause()"><i class="fa fa-pause fa-fw"></i></a>
                    <a id='step-forward-button' class="player-button player-button-enabled" href="#" onclick="app.next()"><i class="fa fa-step-forward fa-fw"></i></a>&nbsp;
                </div>
            </td>
            <td width="100%">
                <div class="top-menu-column">
                    <marquee id="top-menu-sc-track-name" behavior="slide" direction="right"></marquee>
                </div>
            </td>
            <td>
                <div id="top-menu-sc-tool-buttons" class="btn-group">
                    &nbsp;
                    <a class="player-button player-button-enabled" href='#' onclick="app.volumeDown()"><i

						class="fa fa-minus fa-fw"></i></a><span id="player-volume">&nbsp;&nbsp;</span>
                    <a class="player-button player-button-enabled" href='#' onclick="app.volumeUp()"><i

						class="fa fa-plus fa-fw"></i></a> &nbsp;&nbsp;
                    <a href='#' onclick="app.common.closeWindow()"><i

						class="fa fa-times fa-fw"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id='sc-player'>
    <iframe id="sc-widget" src="https://w.soundcloud.com/player/?url={{ playlist }}" width="100%" height="350" scrolling="no" frameborder="no">
    </iframe>
</div>
